<div class="container-fluid m-2">
  <div class="row mt-3">
    <div class="col-md">
        <img src="{{product.img}}" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-md">
      <div class="container-fluid mt-5">
          <h4>{{product.brand}} {{product.name}}</h4>
          <p class="price text-info">₹{{product.price}}</p>
          <p>Availability: {{product.availability}}</p>
          <p class="description"> {{product.description}} </p>
          <button type="button" class="mt-5" (click)="addToCart()">Add To Cart</button>
      </div>
    </div>
  </div>
</div>
