p.price{
    font-weight: bold;
    font-size: 1.5em;
}

p.description{
    font-size: 0.9em;
}

button{
    display: inline-block;
    border: 1px solid #17a2b8;
    border-radius: 30px;
    color: #222;
    font-weight: 500;
    padding: 12px 50px;
    background: #17a2b8;
    color: #fff;
    transition: all .4s ease;
}

button:hover{
    display: inline-block;
    border: 1px solid #17a2b8;
    border-radius: 30px;
    color: #222;
    font-weight: 500;
    padding: 12px 50px;
    background: white;
    transition: all .4s ease;
}