<div class="container-fluid mt-5">
  <h2 class="ml-2 mt-3">
    Trending <span class="section-intro__style">Products</span>
  </h2>
  <p class="text-secondary m-3">Popular items at Funshop</p>

  <div class="container">
    <div class="card-deck">
      <div class="card border-info">
        <img src="assets/images/redtape.jpg" class="card-img-top" alt="..." height="200px">
        <div class="card-body  text-center">
          <h5 class="card-title">Red Tape </h5>
          <!-- <small class="text-muted">Men Sneakers</small> -->
          <button class="btn btn-info">Add to Cart</button>
        </div>
      </div>

      <div class="card border-info">
        <img src="assets/images/redtape.jpg" class="card-img-top" alt="..." height="200px">
        <div class="card-body  text-center">
          <h5 class="card-title">Red Tape </h5>
          <!-- <small class="text-muted">Men Sneakers</small> -->
          <button class="btn btn-info">Add to Cart</button>
        </div>
      </div>

      <div class="card border-info">
        <img src="assets/images/redtape.jpg" class="card-img-top" alt="..." height="200px">
        <div class="card-body  text-center">
          <h5 class="card-title">Red Tape </h5>
          <!-- <small class="text-muted">Men Sneakers</small> -->
          <button class="btn btn-info">Add to Cart</button>
        </div>
      </div>

      <div class="card border-info">
        <img src="assets/images/redtape.jpg" class="card-img-top" alt="..." height="200px">
        <div class="card-body  text-center">
          <h5 class="card-title">Red Tape </h5>
          <!-- <small class="text-muted">Men Sneakers</small> -->
          <button class="btn btn-info">Add to Cart</button>
        </div>
      </div>

    </div>
  </div>
</div>
