<div class="container-fluid mt-5">
  <h2 class="ml-2 mt-3">
    Trending <span class="section-intro__style">Products</span>
  </h2>
  <p class="text-secondary m-3">Popular items at Funshop</p>

  <div class="container">
    <div class="card-deck">
      <div class="card border-info" *ngFor="let item of trendingProducts;index as i;">
        <img src="{{item.img}}" class="card-img-top" alt="..." height="200px">
        <div class="card-body  text-center">
          <a routerLink="/detail/{{item._id}}">
            <h5 class="card-title">{{item.name}}</h5>
          </a>
          <span class="price text-info">{{item.price | currency:'₹'}}</span> <br>
          <button class="btn btn-info"  (click)="addToCart(i)">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
