<div class="container-fluid mt-5">
  <h2 class="ml-2 mt-3">
    Trending <span class="section-intro__style">Products</span>
  </h2>
  <p class="text-secondary m-3">Popular items at Funshop</p>

  <div class="container">
    <div class="card-deck">
      <div class="card border-info">
        <img src="assets/images/iphone.jpeg" class="card-img-top" alt="..." height="200px">
        <div class="card-body  text-center">
          <a routerLink="/detail/21">
            <h5 class="card-title">iPhone X </h5>
          </a>
          <span class="price text-info">₹80,000</span> <br>
          <button class="btn btn-info">Add to Cart</button>
        </div>
      </div>

      <div class="card border-info">
        <img src="assets/images/oneplus.jpg" class="card-img-top" alt="..." height="200px">
        <div class="card-body  text-center">
          <a routerLink="/detail/21">
            <h5 class="card-title">One Plus 7 Pro </h5>
          </a>
          <span class="price text-info">₹80,000</span> <br>
          <button class="btn btn-info">Add to Cart</button>
        </div>
      </div>

      <div class="card border-info">
        <img src="assets/images/s10.png" class="card-img-top" alt="..." height="200px">
        <div class="card-body  text-center">
          <a routerLink="/detail/21">
            <h5 class="card-title">Samsung Galaxy S10</h5>
          </a>
          <span class="price text-info">₹80,000</span> <br>
          <button class="btn btn-info">Add to Cart</button>
        </div>
      </div>

      <div class="card border-info">
        <img src="assets/images/a50.jpg" class="card-img-top" alt="..." height="200px">
        <div class="card-body  text-center">
          <a routerLink="/detail/21">
            <h5 class="card-title">Samsung A50</h5>
          </a>
          <span class="price text-info">₹80,000</span> <br>
          <button class="btn btn-info">Add to Cart</button>
        </div>
      </div>

    </div>
  </div>
</div>
