<div class="container m-3 table-responsive">
  <div class="container text-center mb-2"><i class="fa fa-shopping-cart"></i></div>
  <table class="table">
    <thead>
      <tr class="table-info">
        <th scope="col">#</th>
        <th scope="col">Product</th>
        <th scope="col">Prict</th>
        <th scope="col">Qty</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td><img src="assets/images/iphone.jpeg" height="50px;" alt="Responsive image">iPhone X</td>
        <td>₹80,000</td>
        <td><input type="number" min="1" value="2"></td>
        <td>₹1,60,000</td>
      </tr>
    </tbody>
  </table>

  <div class="container text-center" id="payable">Amount Payable: ₹1,60,000</div>
  <!-- <h1 class="display-4 mb-3 text-center">My Cart</h1>

  <div class="row align-items-center bg-info " id="column-heading">
    <div class="col-lg-1">#</div>
    <div class="col-lg-5">Product</div>
    <div class="col-lg-2">Price</div>
    <div class="col-lg-2">Qty</div>
    <div class="col-lg-2">Total</div>
  </div>

  <div class="row align-items-center">
    <div class="col-lg-1">1</div>
    <div class="col-lg-5"><img src="assets/images/iphone.jpeg" height="50px;" alt="Responsive image">iPhone X</div>
    <div class="col-lg-2"></div>
    <div class="col-lg-2"><input type="number" min="1" value="1"></div>
    <div class="col-lg-2">₹80,000</div>
  </div> -->
</div>

<app-shipping-detail></app-shipping-detail>