<div class="container m-3 table-responsive">
  <div class="container text-center mb-2"><i class="fa fa-shopping-cart"></i></div>
  <table class="table">
    <thead>
      <tr class="table-info">
        <!-- <th scope="col">#</th> -->
        <th scope="col">Product</th>
        <th scope="col">Prict</th>
        <th scope="col">Qty</th>
        <th scope="col">Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cartItems; index as i; ">
        <!-- <th scope="row">1</th> -->
        <td><img src={{item.img}} height="50px;" alt="Responsive image">{{item.name}}</td>
        <td>₹{{item.price}}</td>
        <td><input [(ngModel)]="cartItems[i].qty" (change)="getPayableAmount()" type="number" min="1" value={{item.qty}}
            id="qty"></td>
        <td>₹{{cartItems[i].qty*item.price}}</td>
        <td><button type="button" class="btn btn-danger" (click)="removeItemFromCart(i)">X</button></td>
      </tr>
    </tbody>
  </table>

  <div class="container text-center" id="payable">Amount Payable: ₹{{amountPayable}}</div>
</div>


<!-- SHIPPING DETAILS -->

<div class="container m-3" id="top-brands">
  <h2 class="ml-2 mt-3">
    Shipping <span class="section-intro__style">Details</span>
  </h2>
  <p class="text-secondary m-3">&nbsp;</p>

  <div class="container pb-3">
    <form>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputName">Name</label>
          <input [(ngModel)]="name" name="name" type="text" class="form-control" id="inputName" placeholder="Full Name"
            required>
        </div>
        <div class="form-group col-md-4">
          <label for="inputEmail">Email</label>
          <input type="email" [(ngModel)]="email" name="email" class="form-control" id="inputEmail" placeholder="Email"
            required>
        </div>
        <div class="form-group col-md-4">
          <label for="inputMobile">Mobile</label>
          <input type="text" [(ngModel)]="mobile" name="mobile" pattern="[1-9][0-9]{9}" class="form-control"
            id="inputMobile" placeholder="Mobile No." required>
        </div>

      </div>
      <div class="form-row">
        <div class="form-group col-sm-10">
          <label for="inputAddress">Address</label>
          <input type="text" [(ngModel)]="address" name="address" class="form-control" id="inputAddress"
            placeholder="1234 Main St" required>
        </div>
        <div class="form-group col-sm-2">
          <label for="inputPinCode">Pin code</label>
          <input type="text" [(ngModel)]="pincode" name="pincode" minlength="6" maxlength="6" class="form-control"
            id="inputPinCode" required>
        </div>
      </div>
      <div class="form-group text-center">
        <input type="submit" value="Proceed To Pay" class="btn btn-info">
      </div>
    </form>
  </div>
</div>
