        <div class="row m-2">
          <div class="col-sm-4 mb-3">
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title"><a href="#">iPhone X</a></h5>
                <img src="assets/images/iphone.jpeg" class="card-img-top"  height="auto" alt="...">
               <span class="price text-info">₹80,000</span>
              </div>
            </div>
          </div>
          <div class="col-sm-4 mb-3">
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title"><a href="#">iPhone X</a></h5>
                <img src="assets/images/iphone.jpeg" class="card-img-top"  height="auto" alt="...">
                <span class="price text-info">₹80,000</span>
              </div>
            </div>
          </div>
  
          <div class="col-sm-4 mb-3">
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title"><a href="#">iPhone X</a></h5>
                <img src="assets/images/iphone.jpeg" class="card-img-top"  height="auto" alt="...">
               <span class="price text-info">₹80,000</span>
              </div>
            </div>
          </div>
  
          <div class="col-sm-4 mb-3">
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title"><a href="#">iPhone X</a></h5>
                <img src="assets/images/iphone.jpeg" class="card-img-top"  height="auto" alt="...">
               <span class="price text-info">₹80,000</span>
              </div>
            </div>
          </div>
  
          <div class="col-sm-4 mb-3">
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title"><a href="#">iPhone X</a></h5>
                <img src="assets/images/iphone.jpeg" class="card-img-top"  height="auto" alt="...">
               <span class="price text-info">₹80,000</span>
              </div>
            </div>
          </div>
  
          <div class="col-sm-4 mb-3">
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title"><a href="#">iPhone X</a></h5>
                <img src="assets/images/iphone.jpeg" class="card-img-top"  height="auto" alt="...">
               <span class="price text-info">₹80,000</span>
              </div>
            </div>
          </div>
        </div>