
      <div class="row m-2">
        <div class="col">
          <ul class="list-group">
            <li class="text-wrap text-break list-group-item bg-info">Category</li>
            <li class="text-wrap text-break list-group-item">Laptop</li>
            <li class="text-wrap text-break list-group-item">Smart Phone</li>
            <li class="text-wrap text-break list-group-item">Watch</li>
            <li class="text-wrap text-break list-group-item">Headphone</li>
            <li class="text-wrap text-break list-group-item">Accessories</li>
          </ul>
        </div>
      </div>
      <div class="row m-2">
        <div class="col">
          <ul class="list-group">
            <li class="text-wrap text-break list-group-item bg-info">Brands</li>
            <li class="text-wrap text-break list-group-item">Apple</li>
            <li class="text-wrap text-break list-group-item">Samsung</li>
            <li class="text-wrap text-break list-group-item">Xiaomi</li>
            <li class="text-wrap text-break list-group-item">Asus</li>
            <li class="text-wrap text-break list-group-item">Nokia</li>
          </ul>
        </div>
      </div>
      <div class="row m-2">
        <div class="col">
          <ul class="list-group">
            <li class="text-wrap text-break list-group-item bg-info">Price Range</li>
            <li class="text-wrap text-break list-group-item">5k-10k</li>
            <li class="text-wrap text-break list-group-item">10k-15k</li>
            <li class="text-wrap text-break list-group-item">15k-25k</li>
            <li class="text-wrap text-break list-group-item">>25k</li>
          </ul>
        </div>
      </div>



